---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/selling_bots/1/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - write_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c3f5be0cbcab46fb5068df201323f240"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"selling_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-05T17:55:03.706Z","executing":true,"to_cancel":true},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Mon, 05 Nov 2018 17:25:03 GMT
recorded_with: VCR 4.0.0
