---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/buying_bots/1/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - write_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3606bdffecd4007f67b005b6fa4cbeb4"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-05T15:37:23.129Z","executing":true,"to_cancel":true},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Mon, 05 Nov 2018 15:07:23 GMT
recorded_with: VCR 4.0.0
