---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/users/me/asset_wallets/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1df23f420ffa9a3906d8718a30bf1c07"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"asset_wallets","attributes":{"balance":318.60571758,"available":318.60571758,"currency":"btc","address":"mnkzungYoJb8HMVSCmtQ5gmE9tksVqwdpf","auto_sell_address":"mz48gEvVRCNWn3B8yKs7SdnvraPJT3a2w7"},"relationships":{"app":{"data":{"id":"1","type":"exchange_apps"}}}},"included":[{"id":"1","type":"exchange_apps"}]}'
  recorded_at: Fri, 26 Oct 2018 19:35:49 GMT
recorded_with: VCR 4.0.0
