---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/merchants/payments
    body:
      encoding: UTF-8
      string: '{"data":{"type":"payments","attributes":{"type":"payments","amount":100,"currency":1,"keep":10,"callback_url":"https://myawesomesite.com/webhook","customer_reference":"Purchase
        at My Store","merchant_reference":"Sale id: 2212"}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f00be30cc537e38ec6e319e46c7620ef"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3","type":"payments","attributes":{"amount":100.0,"callback_url":"https://myawesomesite.com/webhook","confirmed_quantity":0.0,"currency":"btc","customer_reference":"Purchase
        at My Store","expected_quantity":100.0,"keep":10.0,"kept":null,"last_quoted_on":"2018-11-07T13:10:44.929Z","merchant_reference":"Sale
        id: 2212","overpaid":null,"quote_valid_until":"2018-11-07T14:10:44.824Z","settlement_amount":null,"settlement_currency":null,"status":"pending","unconfirmed_quantity":0.0,"valid_until":"2018-11-07T14:10:44.824Z"},"relationships":{"address":{"data":{"id":"7","type":"bitcoin_addresses"}}}},"included":[{"id":"7","type":"bitcoin_addresses","attributes":{"auto_sell":false,"public_address":"mwkM4E1tHxgJ4QyDMaLPGEJpShajFGGvej"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"payment":{"data":{"id":"3","type":"payments"}}}}]}'
  recorded_at: Wed, 07 Nov 2018 13:10:45 GMT
recorded_with: VCR 4.0.0
