---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/merchants/payments
    body:
      encoding: UTF-8
      string: '{"data":{"type":"merchants/payments","attributes":{"type":"merchants/payments","amount":100,"currency":1,"keep":10,"callback_url":"https://myawesomesite.com/webhook","customer_reference":"Purchase
        at My Store","merchant_reference":"Sale id: 2212"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Tue, 06 Nov 2018 20:06:15 GMT
recorded_with: VCR 4.0.0
