---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/merchants/pos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"pos","attributes":{"type":"pos","merchant_keep":10,"merchant_logo":"https://myawesomesite.com/logo","merchant_name":"My
        Awesome Site","merchant_site":"https://myawesomesite.com","merchant_slug":"my-awesome-site"}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"24a72c0c52e30b0075d49bbee5a55fbe"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"pos","attributes":{"merchant_slug":"my-awesome-site","merchant_keep":10.0,"merchant_name":"My
        Awesome Site","merchant_logo":"https://myawesomesite.com/logo","merchant_site":"https://myawesomesite.com"}}}'
  recorded_at: Wed, 07 Nov 2018 15:33:10 GMT
recorded_with: VCR 4.0.0
