---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/merchants/pos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"pos","attributes":{"type":"pos","merchant_keep":10,"merchant_logo":"https://myawesomesite.com/logo","merchant_name":"My
        Awesome Site","merchant_site":"https://myawesomesite.com","merchant_slug":"my-awesome-site"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Wed, 07 Nov 2018 15:26:59 GMT
recorded_with: VCR 4.0.0
