---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/natural_docket_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"natural_docket_seeds","attributes":{"type":"natural_docket_seeds","first_name":"Rick","last_name":"Sanchez","nationality":"AR","gender_code":"male","marital_status_code":"single","politically_exposed":false,"birth_date":"1989-05-17","job_title":"scientific","job_description":"science, absolute reality","politically_exposed_reason":"I´m a rockstar"}}}'
    headers:
      Authorization:
      - cf35ed969e27d8434e865f673f9882c274370cff823a04b6b2acfc9e022fbb13882dd9a86f367a9b
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"813721a6823acaa8368cb6c19e84a529"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3","type":"natural_docket_seeds","attributes":{"first_name":"Rick","last_name":"Sanchez","nationality":"AR","gender_code":"male","marital_status_code":"single","job_title":"scientific","job_description":"science, absolute reality","politically_exposed":false,"politically_exposed_reason":"I´m a rockstar","birth_date":"1989-05-17","created_at":"2018-11-09T20:38:50.000Z","updated_at":"2018-11-09T20:38:50.000Z"},"relationships":{"issue":{"data":{"id":"3","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Fri, 09 Nov 2018 20:38:50 GMT
recorded_with: VCR 4.0.0
