---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/natural_docket_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"natural_docket_seeds","attributes":{"type":"natural_docket_seeds","first_name":"Rick","last_name":"Sanchez","nationality":"AR","gender_code":"male","marital_status_code":"single","politically_exposed":false,"birth_date":"1989-05-17"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Thu, 08 Nov 2018 19:44:39 GMT
recorded_with: VCR 4.0.0
