---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f83b97861b4bc5db0a8be91aa5c8d0da"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"accounts","attributes":{"balances":{"btc":{"total":318.60571758,"available":318.60571758},"usd":{"total":10969616.47097297,"available":10969616.47097297},"ars":{"total":0.0,"available":0.0},"clp":{"total":0.0,"available":0.0},"bch":{"total":0.0,"available":0.0},"pyg":{"total":0.0,"available":0.0},"uyu":{"total":0.0,"available":0.0}},"country":"AR"},"relationships":{"movements":{"data":[]},"pending_movements":{"data":[]},"user":{"data":{"id":"1","type":"users"}}}}],"included":[{"id":"1","type":"users","attributes":{"name":"testuser@example.com","email":"testuser@example.com","kyc_accepted":true,"otp_enabled":true,"do_not_email":false,"trezor_login_enabled":false}}]}'
  recorded_at: Thu, 01 Nov 2018 20:39:27 GMT
recorded_with: VCR 4.0.0
