---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/bids/cancel
    body:
      encoding: UTF-8
      string: '{"market_id":"btc_usd","_json":[{"data":{"type":"bids","id":"22"}}]}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 24 Oct 2018 20:09:34 GMT
recorded_with: VCR 4.0.0
