---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/bids/cancel
    body:
      encoding: UTF-8
      string: '{"market_id":"btc_usd","_json":[{"data":{"type":"bids","id":"22"}}]}'
    headers:
      Authorization:
      - we_dont_care
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Wed, 24 Oct 2018 19:32:21 GMT
recorded_with: VCR 4.0.0
