---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/bids/cancel
    body:
      encoding: UTF-8
      string: '{"market_id":"btc_usd","_json":[{"data":{"type":"bids","id":"22"}}]}'
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not enough permissions"}'
  recorded_at: Mon, 22 Oct 2018 21:22:29 GMT
recorded_with: VCR 4.0.0
