---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/markets/btc_usd/bids/cancel
    body:
      encoding: UTF-8
      string: '{"market_id":"btc_usd","_json":[{"data":{"type":"bids","id":"22"}}]}'
    headers:
      Authorization:
      - read_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not enough permissions"}'
  recorded_at: Mon, 22 Oct 2018 21:22:29 GMT
recorded_with: VCR 4.0.0
