---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/markets/btc_usd/asks/cancel
    body:
      encoding: UTF-8
      string: '{"market_id":"btc_usd","_json":[{"data":{"type":"asks","id":"99"}}]}'
    headers:
      Authorization:
      - write_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 23 Oct 2018 16:08:40 GMT
recorded_with: VCR 4.0.0
