---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"type":"api_keys","write":false,"meta":{"otp":"984176"}}}}'
    headers:
      Authorization:
      - 81a3008a9d0b65a31d3d16759da5a7fc3c597deac1a8f23afb671e0a8d4c29aae3b92604773d5234
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not enough permissions"}'
  recorded_at: Fri, 12 Oct 2018 19:15:22 GMT
recorded_with: VCR 4.0.0
