---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Csrf-Token:
      - zIDyxVIOa3izg33LPt6m35r+iGxrB1Rs8pLxB9RSekebOaPKciApQzNguI6FT4ykAncUrRfXHZjUB+a7dpJ/fw==
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"ticker","id":"btc_usd","attributes":{"price":6491.0}}]}'
  recorded_at: Wed, 10 Oct 2018 14:15:19 GMT
recorded_with: VCR 4.0.0
