---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/tickers/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Csrf-Token:
      - p9XDfWqXXLYPZmvUsmHMcyRqEEBOcoSks5lmrfTb24NvKyK1wVfqBsPybLFND07BIhwl51bU/O0P3exkrRLwQw==
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"","type":"tickers","attributes":{"last":6491.0,"open":6578.16175881,"high":6615.0,"low":6480.0,"vwap":6543.75067359562,"volume":13.99084058,"bid":6496.79448,"ask":6524.21900781,"price_before_last":6495.0}}}'
  recorded_at: Wed, 10 Oct 2018 14:16:04 GMT
recorded_with: VCR 4.0.0
