---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd?include=candles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2f823e41976e3c2d0827727959e10482"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[{"id":"1539711678","type":"candles"}]},"transactions":{"data":[]},"bids":{"data":[]},"asks":{"data":[]}}},"included":[{"id":"1539711678","type":"candles","attributes":{"timestamp":1539711678,"low":0.0,"open":0.0,"close":0.0,"high":0.0,"volume":0.0,"price_before_last":0.0,"vwap":0.0}}]}'
  recorded_at: Tue, 16 Oct 2018 17:41:18 GMT
recorded_with: VCR 4.0.0
