---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/domicile_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"domicile_seeds","attributes":{"type":"domicile_seeds","city":"CABA","country":"AR","floor":"0","postal_code":"1001","street_address":"Balcarce","street_number":"50","state":"zaraza","apartment":"9º B"}}}'
    headers:
      Authorization:
      - cf35ed969e27d8434e865f673f9882c274370cff823a04b6b2acfc9e022fbb13882dd9a86f367a9b
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f0161c36b9b1e0aab5b7a9fd789d0f0f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"domicile_seeds","attributes":{"country":"AR","state":"zaraza","city":"CABA","street_address":"Balcarce","street_number":"50","postal_code":"1001","floor":"0","apartment":"9º B","created_at":"2018-11-10T16:35:30.000Z","updated_at":"2018-11-10T16:35:30.000Z"},"relationships":{"issue":{"data":{"id":"3","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Sat, 10 Nov 2018 16:35:30 GMT
recorded_with: VCR 4.0.0
