---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/domicile_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"domicile_seeds","attributes":{"type":"domicile_seeds","city":"CABA","country":"AR","floor":"0","postal_code":"1001","street_address":"Balcarce","street_number":"50"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Sat, 10 Nov 2018 16:35:30 GMT
recorded_with: VCR 4.0.0
