---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/withdrawal_instructions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cdaa0aca7664f7cca6b3192c89479b56"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"4","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","country":"AR","cuit":"20112233344552","currency":"ARS","city":"Dimension
        C-132","further_instructions":"A further instructions","name":"Rick Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}},{"id":"5","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"bco_chile","bank_account_number":"12345678","bank_address":"a
        bank address","bank_city":"a bank city","bank_country":"CL","bank_postal_code":"AABBCC","bank_swift":"BANKUS66","postal_code":"XXYYZZ","city":"Dimension
        C-132","further_instructions":"A further instructions","name":"Rick Sanchez","payment_method":"international_bank","phone":"1122334455","currency":"ARS"}}},{"id":"6","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"city":"Dimension
        C-132","further_instructions":"A further instructions","name":"Rick Sanchez","payment_method":"third_party","phone":"1122334455","currency":"ARS"}}},{"id":"7","type":"withdrawal_instruc[...]
