---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/withdrawal_instructions
    body:
      encoding: UTF-8
      string: '{"data":{"type":"withdrawal_instructions","attributes":{"type":"withdrawal_instructions","label":"label","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","cuit":"20112233344552","city":"Dimension
        C-132","country":"AR","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"62e4a20a0b8af799d7edfa22143442c8"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","cuit":"20112233344552","city":"Dimension
        C-132","country":"AR","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}}}'
  recorded_at: Tue, 30 Oct 2018 17:54:25 GMT
recorded_with: VCR 4.0.0
