---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/identification_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"identification_seeds","attributes":{"type":"identification_seeds","identification_kind_code":"national_id","number":"12345678","issuer":"AR","public_registry_authority":"public
        registry authority","public_registry_book":"public registry book","public_registry_extra_data":"public
        registry extra data"}}}'
    headers:
      Authorization:
      - cf35ed969e27d8434e865f673f9882c274370cff823a04b6b2acfc9e022fbb13882dd9a86f367a9b
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"af4eb31a0e8583249fe55b9e736293ac"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"identification_seeds","attributes":{"identification_kind_code":"national_id","number":"12345678","issuer":"AR","public_registry_authority":null,"public_registry_book":null,"public_registry_extra_data":null,"created_at":"2018-11-09T22:59:13.000Z","updated_at":"2018-11-09T22:59:13.000Z"},"relationships":{"issue":{"data":{"id":"3","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Fri, 09 Nov 2018 22:59:13 GMT
recorded_with: VCR 4.0.0
