---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/identification_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"identification_seeds","attributes":{"type":"identification_seeds","identification_kind_code":"national_id","number":"12345678","issuer":"AR","public_registry_authority":"public
        registry authority","public_registry_book":"public registry book","public_registry_extra_data":"public
        registry extra data"}}}'
    headers:
      Authorization:
      - 742e8a9d71ef07e1a7ef9901972a82fff24e8ab2c2eb726f87dafa65768a7de11e9dc19ca9fc3efe
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not enough permissions"}'
  recorded_at: Fri, 09 Nov 2018 22:58:58 GMT
recorded_with: VCR 4.0.0
