---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b8237ecfbda09ff2779ce76ff548c711"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"api_keys","attributes":{"write":false,"token":"**********************************************************************04773d5234"}},{"id":"3","type":"api_keys","attributes":{"write":true,"token":"**********************************************************************334568cc05"}},{"id":"4","type":"api_keys","attributes":{"write":false,"token":"**********************************************************************ee7b623f98"}},{"id":"5","type":"api_keys","attributes":{"write":false,"token":"**********************************************************************4d22277576"}},{"id":"6","type":"api_keys","attributes":{"write":true,"token":"**********************************************************************57e6594a35"}},{"id":"7","type":"api_keys","attributes":{"write":false,"token":"**********************************************************************a68c0dd709"}},{"id":"8","type":"api_keys","attributes":{"write":true,"token":"**********************************************************************5e2b82da50"}}]}'
  recorded_at: Thu, 08 Nov 2018 15:00:23 GMT
recorded_with: VCR 4.0.0
