---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/merchants/payments/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"32a125ef364064180e792144a88c7b9f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"payments","attributes":{"amount":100.0,"callback_url":"https://myawesomesite.com/webhook","confirmed_quantity":0.0,"currency":"btc","customer_reference":"Purchase
        at My Store","expected_quantity":100.0,"keep":10.0,"kept":null,"last_quoted_on":"2018-11-06T20:18:44.695Z","merchant_reference":"Sale
        id: 2212","overpaid":null,"quote_valid_until":"2018-11-06T21:18:44.029Z","settlement_amount":null,"settlement_currency":null,"status":"pending","unconfirmed_quantity":0.0,"valid_until":"2018-11-06T21:18:44.029Z"},"relationships":{"address":{"data":{"id":"5","type":"bitcoin_addresses"}}}},"included":[{"id":"5","type":"bitcoin_addresses","attributes":{"auto_sell":false,"public_address":"mvq2BWRJiDLnbHf2dJ6JgCnrCpaoT1cmTW"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"payment":{"data":{"id":"1","type":"payments"}}}}]}'
  recorded_at: Wed, 07 Nov 2018 13:11:05 GMT
recorded_with: VCR 4.0.0
