---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/coin_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"coin_withdrawals","attributes":{"type":"coin_withdrawals","label":"label-test","amount":100,"currency":"btc","to_addresses":"mszEUK9E6E7n4SNcrjYH8Fr7ZTGP9n3dRb"}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7210561eef81c178d10da21ef3f6b375"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"coin_withdrawals","attributes":{"amount":100.0,"status":"received","label":"label-test","to_addresses":"mszEUK9E6E7n4SNcrjYH8Fr7ZTGP9n3dRb"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"coin":{"data":{"attributes":{"id":1,"code":"btc","name":"bitcoin","decimals":8},"id":1,"code":"btc","name":"bitcoin","decimals":8}}}}}'
  recorded_at: Thu, 01 Nov 2018 19:42:17 GMT
recorded_with: VCR 4.0.0
