---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/coin_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"coin_withdrawals","attributes":{"type":"coin_withdrawals","label":"we_dont_care","amount":100,"currency":"btc","to_address":"imafuckingaddress"}}}'
    headers:
      Authorization:
      - we_dont_care
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Thu, 01 Nov 2018 19:14:57 GMT
recorded_with: VCR 4.0.0
