---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/candles?filter%5Bfrom%5D=7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"005d05e209f3054c5cafb804f4a65f99"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1535392800","type":"candles","attributes":{"timestamp":1535392800,"low":10000.0,"open":10000.0,"close":10000.0,"high":10000.0,"volume":2.0,"price_before_last":30000.0,"vwap":10000.0}},{"id":"1535396400","type":"candles","attributes":{"timestamp":1535396400,"low":5000.0,"open":5000.0,"close":9000.0,"high":9000.0,"volume":1.44444444,"price_before_last":5000.0,"vwap":6230.769222248520683841602104129}},{"id":"1535461200","type":"candles","attributes":{"timestamp":1535461200,"low":9000.0,"open":9000.0,"close":10000.0,"high":10000.0,"volume":3.05555555,"price_before_last":10000.0,"vwap":9818.181816396694211630353112056}}]}'
  recorded_at: Tue, 28 Aug 2018 17:39:23 GMT
recorded_with: VCR 4.0.0
