---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/candles?filter%5Bfrom%5D=7&span=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"96bcfc115eedc79d6120c88d170150ad"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1535328000","type":"candles","attributes":{"timestamp":1535328000,"low":5000.0,"open":6000.0,"close":9000.0,"high":30000.0,"volume":5.45657777,"price_before_last":5000.0,"vwap":16310.589444783080586424043581441}},{"id":"1535414400","type":"candles","attributes":{"timestamp":1535414400,"low":9000.0,"open":9000.0,"close":10000.0,"high":10000.0,"volume":3.05555555,"price_before_last":10000.0,"vwap":9818.181816396694211630353112056}}]}'
  recorded_at: Tue, 28 Aug 2018 17:42:29 GMT
recorded_with: VCR 4.0.0
