---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/transactions?filter%5Bfrom%5D=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c974fd8f5e50853b54407af5e58f710e"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"77","type":"transactions","attributes":{"timestamp":1535445333,"price":10000.0,"amount":0.49999999}},{"id":"76","type":"transactions","attributes":{"timestamp":1535456133,"price":9000.0,"amount":0.55555556}}]}'
  recorded_at: Tue, 28 Aug 2018 13:31:59 GMT
recorded_with: VCR 4.0.0
