---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd?include=bids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c42de1bf22fcc618cd50967891fd7641"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[]},"bids":{"data":[{"id":"4000.0","type":"order_groups"},{"id":"1.0","type":"order_groups"}]},"asks":{"data":[]}}},"included":[{"id":"4000.0","type":"order_groups","attributes":{"price":4000.0,"amount":1.0}},{"id":"1.0","type":"order_groups","attributes":{"price":1.0,"amount":5000.0}}]}'
  recorded_at: Tue, 28 Aug 2018 13:32:03 GMT
recorded_with: VCR 4.0.0
