---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd?include=asks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3cfab8806a0261bd2b727c02cf67c77a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[]},"bids":{"data":[]},"asks":{"data":[{"id":"10000.0","type":"order_groups"},{"id":"30000.0","type":"order_groups"}]}}},"included":[{"id":"10000.0","type":"order_groups","attributes":{"price":10000.0,"amount":0.50000001}},{"id":"30000.0","type":"order_groups","attributes":{"price":30000.0,"amount":0.00303334}}]}'
  recorded_at: Tue, 28 Aug 2018 13:32:04 GMT
recorded_with: VCR 4.0.0
