---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd?include=transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"864c25436103257cde289df4f3c07cc6"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[{"id":"79","type":"transactions"},{"id":"78","type":"transactions"},{"id":"77","type":"transactions"},{"id":"76","type":"transactions"}]},"bids":{"data":[]},"asks":{"data":[]}}},"included":[{"id":"79","type":"transactions","attributes":{"timestamp":1535380533,"price":10000.0,"amount":1.49999999}},{"id":"78","type":"transactions","attributes":{"timestamp":1535423733,"price":10000.0,"amount":0.50000001}},{"id":"77","type":"transactions","attributes":{"timestamp":1535445333,"price":10000.0,"amount":0.49999999}},{"id":"76","type":"transactions","attributes":{"timestamp":1535456133,"price":9000.0,"amount":0.55555556}}]}'
  recorded_at: Tue, 28 Aug 2018 13:32:03 GMT
recorded_with: VCR 4.0.0
