---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/tickers/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0442a8794f0228df47439ec87efcb793"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":4000.0,"ask":10000.0,"price_before_last":0.0}}}'
  recorded_at: Wed, 29 Aug 2018 18:28:45 GMT
[...]
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/tickers/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0442a8794f0228df47439ec87efcb793"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":4000.0,"ask":10000.0,"price_before_last":0.0}}}'
  recorded_at: Wed, 29 Aug 2018 18:38:53 GMT
recorded_with: VCR 4.0.0
