---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"16b8f3f3764d139fb22ffbd9638eeb1e"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"btc_usd","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":4000.0,"ask":10000.0,"price_before_last":0.0}},{"id":"btc_ars","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":0.0,"ask":0.0,"price_before_last":0.0}},{"id":"btc_clp","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":0.0,"ask":0.0,"price_before_last":0.0}},{"id":"btc_pyg","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":0.0,"ask":0.0,"price_before_last":0.0}},{"id":"btc_uyu","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":0.0,"ask":0.0,"price_before_last":0.0}},{"id":"bch_usd","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":0.0,"ask":0.0,"price_before_last":0.0}}]}'
  recorded_at: Wed, 29 Aug 2018 19:06:52 GMT
recorded_with: VCR 4.0.0
