---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/argentina_invoicing_detail_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"argentina_invoicing_detail_seeds","attributes":{"type":"argentina_invoicing_detail_seeds","address":"Dimension
        C-132","country":"AR","full_name":"Rick Sánchez","receipt_kind_code":"b","tax_id":"20123456782","tax_id_kind_code":"cuil","vat_status_code":"consumidor_final"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Mon, 12 Nov 2018 14:14:07 GMT
recorded_with: VCR 4.0.0
