---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/markets/btc_usd/asks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"asks","attributes":{"type":"asks","market_id":"btc_usd","amount":100.23,"price":50.2}}}'
    headers:
      Authorization:
      - write_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3caa9048d47136880d7498b8dd375a49"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"20","type":"asks","attributes":{"amount":100.23,"remaining_amount":100.23,"price":50.2,"status":"pending"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Thu, 18 Oct 2018 18:27:37 GMT
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd/asks/20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - write_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"52fc658f563454061a09513c92a37d55"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"20","type":"asks","attributes":{"amount":100.23,"remaining_amount":41.40647059,"price":50.2,"status":"executing"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Thu, 18 Oct 2018 18:29:20 GMT
recorded_with: VCR 4.0.0
