---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/asks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"asks","attributes":{"type":"asks","market_id":"btc_usd","amount":12000000,"price":50.2}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cee5612e39b3aac7d73d720254bff8ca"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"18","type":"asks","attributes":{"amount":12000000.0,"remaining_amount":12000000.0,"price":50.2,"status":"pending"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Thu, 18 Oct 2018 18:05:59 GMT
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/asks/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"386c0288639cf2f1fc623f64daaebcbc"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"18","type":"asks","attributes":{"amount":12000000.0,"remaining_amount":12000000.0,"price":50.2,"status":"cancelled"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Thu, 18 Oct 2018 18:06:32 GMT
recorded_with: VCR 4.0.0
