---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/asks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"asks","attributes":{"type":"asks","market_id":"btc_usd","amount":100.23,"price":50.2}}}'
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not enough permissions"}'
  recorded_at: Thu, 18 Oct 2018 18:51:15 GMT
recorded_with: VCR 4.0.0
