---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/allowance_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"allowance_seeds","attributes":{"type":"allowance_seeds","kind_code":"usd"}}}'
    headers:
      Authorization:
      - cf35ed969e27d8434e865f673f9882c274370cff823a04b6b2acfc9e022fbb13882dd9a86f367a9b
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"75ce9dbdc51116cec5a145c2d4180220"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"allowance_seeds","attributes":{"kind_code":"usd","created_at":"2018-11-12T14:56:41.000Z","updated_at":"2018-11-12T14:56:41.000Z"},"relationships":{"issue":{"data":{"id":"3","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 12 Nov 2018 14:56:41 GMT
recorded_with: VCR 4.0.0
