---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/allowance_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"allowance_seeds","attributes":{"type":"allowance_seeds","kind_code":"usd"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Mon, 12 Nov 2018 14:56:42 GMT
recorded_with: VCR 4.0.0
