---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/markets/btc_usd/bids
    body:
      encoding: UTF-8
      string: '{"data":{"type":"bids","attributes":{"type":"bids","market_id":"btc_usd","amount":100.23,"price":50.2}}}'
    headers:
      Authorization:
      - write_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9463080d73afaf77cc1ba3e334b66e14"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"28","type":"bids","attributes":{"amount":100.23,"remaining_amount":100.23,"price":50.2,"status":"pending"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Wed, 24 Oct 2018 19:38:41 GMT
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd/bids/28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - write_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"818acd20221af617748fc68cbc503396"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"28","type":"bids","attributes":{"amount":100.23,"remaining_amount":100.23,"price":50.2,"status":"executing"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Wed, 24 Oct 2018 19:38:43 GMT
recorded_with: VCR 4.0.0
