---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/markets/btc_usd/bids
    body:
      encoding: UTF-8
      string: '{"data":{"type":"bids","attributes":{"type":"bids","market_id":"btc_usd","amount":12000000,"price":50.2}}}'
    headers:
      Authorization:
      - write_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c44066bad5bf4b9e98e0a95dd00c1ca4"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"27","type":"bids","attributes":{"amount":12000000.0,"remaining_amount":12000000.0,"price":50.2,"status":"pending"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Tue, 23 Oct 2018 15:05:25 GMT
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd/bids/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - write_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6a2787a1750d5ed083deeb67b8507aad"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"27","type":"bids","attributes":{"amount":12000000.0,"remaining_amount":12000000.0,"price":50.2,"status":"cancelled"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Tue, 23 Oct 2018 15:05:25 GMT
recorded_with: VCR 4.0.0
