---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/bids
    body:
      encoding: UTF-8
      string: '{"data":{"type":"bids","attributes":{"type":"bids","market_id":"btc_usd","amount":100.23,"price":50.2}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d4ad4e607fa7e92ea9fa19f97db3aa4e"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"26","type":"bids","attributes":{"amount":100.23,"remaining_amount":100.23,"price":50.2,"status":"pending"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Tue, 23 Oct 2018 15:02:51 GMT
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/bids/26
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0952b64d2e8a42f28922b2080bde295a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"26","type":"bids","attributes":{"amount":100.23,"remaining_amount":100.23,"price":50.2,"status":"executing"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Tue, 23 Oct 2018 15:02:52 GMT
recorded_with: VCR 4.0.0
