---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/markets/btc_usd/bids
    body:
      encoding: UTF-8
      string: '{"data":{"type":"bids","attributes":{"type":"bids","market_id":"btc_usd","amount":100.23,"price":50.2}}}'
    headers:
      Authorization:
      - read_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not enough permissions"}'
  recorded_at: Tue, 23 Oct 2018 14:39:04 GMT
recorded_with: VCR 4.0.0
