---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/email_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"email_seeds","attributes":{"type":"email_seeds","address":"person@example.com","email_kind_code":"invoicing"}}}'
    headers:
      Authorization:
      - cf35ed969e27d8434e865f673f9882c274370cff823a04b6b2acfc9e022fbb13882dd9a86f367a9b
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"65966005ed2067ab49ddb81a57ac62d4"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5","type":"email_seeds","attributes":{"address":"person@example.com","email_kind_code":"invoicing","created_at":"2018-11-10T16:50:44.000Z","updated_at":"2018-11-10T16:50:44.000Z"},"relationships":{"issue":{"data":{"id":"3","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Sat, 10 Nov 2018 16:50:44 GMT
recorded_with: VCR 4.0.0
