---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/email_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"email_seeds","attributes":{"type":"email_seeds","address":"person@example.com","email_kind_code":"invoicing"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Sat, 10 Nov 2018 16:50:45 GMT
recorded_with: VCR 4.0.0
