---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/note_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"note_seeds","attributes":{"type":"note_seeds","title":"Identification
        note","body":"These are custom notes"}}}'
    headers:
      Authorization:
      - cf35ed969e27d8434e865f673f9882c274370cff823a04b6b2acfc9e022fbb13882dd9a86f367a9b
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c6b26483b7f09f7d94f7a4905133f414"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"note_seeds","attributes":{"title":"Identification
        note","body":"These are custom notes","created_at":"2018-11-10T16:20:18.000Z","updated_at":"2018-11-10T16:20:18.000Z"},"relationships":{"issue":{"data":{"id":"3","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Sat, 10 Nov 2018 16:20:18 GMT
recorded_with: VCR 4.0.0
