---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/selling_bots/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ab67f03533390cf99e0070368a0025f8"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"selling_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-05T17:52:36.113Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Mon, 05 Nov 2018 17:24:37 GMT
recorded_with: VCR 4.0.0
