---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7a68b8b51211e4776de973a96b213883"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"18","type":"bids","attributes":{"amount":20000.0,"remaining_amount":19999.99917421,"price":50.2,"status":"executing"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"19","type":"bids","attributes":{"amount":100.0,"remaining_amount":100.0,"price":50.2,"status":"executing"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"20","type":"bids","attributes":{"amount":1000.0,"remaining_amount":1000.0,"price":2000.0,"status":"executing"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},[...]
