---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/markets/btc_usd/transactions?filter%5Bfrom%5D=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c7ddb71d0e65b039374b1e457ee5775a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":null},"transactions":{"data":[{"id":"77","type":"transactions"},{"id":"76","type":"transactions"}]},"bids":{"data":null},"asks":{"data":null}}},"included":[{"id":"77","type":"transactions","attributes":{"timestamp":1535445333,"price":10000.0,"amount":0.49999999}},{"id":"76","type":"transactions","attributes":{"timestamp":1535456133,"price":9000.0,"amount":0.55555556}}]}'
  recorded_at: Tue, 28 Aug 2018 14:35:33 GMT
recorded_with: VCR 4.0.0
