---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/markets/btc_usd/candles?filter%5Bfrom%5D=7&span=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c320278af09d5771c7f4405fbc37726a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[{"id":"1539043200","type":"candles"},{"id":"1539129600","type":"candles"}]},"transactions":{"data":null},"bids":{"data":null},"asks":{"data":null}}},"included":[{"id":"1539043200","type":"candles","attributes":{"timestamp":1539043200,"low":6571.56864,"open":6609.0,"close":6579.804748,"high":6615.0,"volume":8.07720371,"price_before_last":6571.56864,"vwap":6589.180318990775708639394957144147600061}},{"id":"1539129600","type":"candles","attributes":{"timestamp":1539129600,"low":6480.0,"open":6603.14178014,"close":6491.0,"high":6604.79624049,"volume":9.07401274,"price_before_last":6495.0,"vwap":6517.900292811807178705812573060151996216}}]}'
  recorded_at: Wed, 10 Oct 2018 13:37:53 GMT
recorded_with: VCR 4.0.0
