---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/markets/btc_usd/candles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5fe95ba97f310ceda70ea82b317e3c82"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[{"id":"1539090000","type":"candles"},{"id":"1539093600","type":"candles"},{"id":"1539097200","type":"candles"},{"id":"1539108000","type":"candles"},{"id":"1539111600","type":"candles"},{"id":"1539115200","type":"candles"},{"id":"1539122400","type":"candles"},{"id":"1539129600","type":"candles"},{"id":"1539140400","type":"candles"},{"id":"1539144000","type":"candles"},{"id":"1539147600","type":"candles"},{"id":"1539169200","type":"candles"}]},"transactions":{"data":null},"bids":{"data":null},"asks":{"data":null}}},"included":[{"id":"1539090000","type":"candles","attributes":{"timestamp":1539090000,"low":6580.0,"open":6590.0,"close":6580.0,"high":6590.0,"volume":2.18516763,"price_before_last":6580.0,"vwap":6580.868040178684140584674503897}},{"id":"1539093600","type":"candles","attributes":{"timestamp":1539093600,"low":6578.16175881,"open":6578.16175881,"close":6586.78846154,"high":6586.78846154,"volume":1.75280831,"price_before_last":6586.78846154,"vwap":6585.551788027813471400075687683155723971}},{"id":"1539097200","type":"candles","attributes":{"timestamp":1539097200,"low":6580.0,"open":6580.0,"close":6580.0,"high":6580.0,"volume":0.93588,"price_before_last":6580.0,"vwap":6580.0}},{"id":"1539108[...]
