---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/markets/btc_usd?include=transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6666ee4c3afa8111b33ff75b6d36d65e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[{"id":"1539021600","type":"candles"},{"id":"1539025200","type":"candles"},{"id":"1539028800","type":"candles"},{"id":"1539032400","type":"candles"},{"id":"1539036000","type":"candles"},{"id":"1539039600","type":"candles"},{"id":"1539068400","type":"candles"},{"id":"1539072000","type":"candles"},{"id":"1539079200","type":"candles"},{"id":"1539086400","type":"candles"},{"id":"1539090000","type":"candles"},{"id":"1539093600","type":"candles"},{"id":"1539097200","type":"candles"},{"id":"1539108000","type":"candles"}]},"transactions":{"data":[{"id":"141402","type":"transactions"},{"id":"141401","type":"transactions"},{"id":"141400","type":"transactions"}]},"bids":{"data":[{"id":"6580.0","type":"order_groups"},{"id":"6574.411228","type":"order_groups"},{"id":"6572.66688","type":"order_groups"},{"id":"6566.0","type":"order_groups"},{"id":"6550.0","type":"order_groups"},{"id":"6537.98","type":"order_groups"},{"id":"6537.67735","type":"order_groups"},{"id":"6534.8217","type":"order_groups"},{"id":"6528.78","type":"order_groups"},{"id":"6520.0","type":"order_groups"},{"id":"6517.0","type":"order_groups"},{"id":"6516.76","type":"order_groups"},{"id":"6515.0","[...]
