---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/orderbooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"fcb45522326fcba66029d04a8fe7b4aa"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[
        {"id":"1",
        "type":"orderbooks",
        "attributes":{"code":"btc_usd","base":{"code":"btc","decimals":8},"quote":{"code":"usd","decimals":2}}},{"id":"5","type":"orderbooks","attributes":{"code":"btc_ars","base":{"code":"btc","decimals":8},"quote":{"code":"ars","decimals":2}}},{"id":"8","type":"orderbooks","attributes":{"code":"bch_usd","base":{"code":"bch","decimals":8},"quote":{"code":"usd","decimals":2}}},{"id":"11","type":"orderbooks","attributes":{"code":"btc_clp","base":{"code":"btc","decimals":8},"quote":{"code":"clp","decimals":2}}},{"id":"10","type":"orderbooks","attributes":{"code":"btc_pyg","base":{"code":"btc","decimals":8},"quote":{"code":"pyg","decimals":2}}},{"id":"12","type":"orderbooks","attributes":{"code":"btc_uyu","base":{"code":"btc","decimals":8},"quote":{"code":"uyu","decimals":2}}}]}'
  recorded_at: Tue, 09 Oct 2018 13:37:32 GMT
recorded_with: VCR 4.0.0
