---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/tickers/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Csrf-Token:
      - ELvW/kJ+RTKsRFc0cTh0AHL0NoSO6po7g8tq+Hlq3oqHLEYHCQ4rnynQUmfPANQErPJXWx3wEYn1yxWJ/m4zIQ==
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"","type":"tickers","attributes":{"last":6615.0,"open":6537.0,"high":6688.19910553,"low":6522.144024,"vwap":6649.711045936794,"volume":3.57762947,"bid":6603.81696,"ask":6640.0,"price_before_last":6615.0}}}'
  recorded_at: Mon, 08 Oct 2018 14:35:59 GMT
recorded_with: VCR 4.0.0
