---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/tickers/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Csrf-Token:
      - rceSnQdMVt0hxMBJVaAl2raiLG9yjI9/WqeblL8RGjWAmvvrckcK7ayWwPTbptx4awPouO5jFBh1mP7VSLK82Q==
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"","type":"tickers","attributes":{"last":6615.0,"open":6537.0,"high":6688.19910553,"low":6522.144024,"vwap":6649.711045936794,"volume":3.57762947,"bid":6603.81696,"ask":6640.0,"price_before_last":6615.0}}}'
  recorded_at: Mon, 08 Oct 2018 17:32:10 GMT
recorded_with: VCR 4.0.0
