---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Csrf-Token:
      - SbCc5G6OsptkllRBrFov/KNJ5wWzfqZKo1K1R4MTju2oLvKerPsIJbpZ4QZahmXrwH+jGwPyb4L4yqeu3yX17w==
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"ticker","id":"btc_usd","attributes":{"price":6615.0}}]}'
  recorded_at: Mon, 08 Oct 2018 17:32:10 GMT
recorded_with: VCR 4.0.0
