---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Csrf-Token:
      - 6d6d1oFhe5dptZfosz2Rcnc1h7lSQ/Qw3DS6zyfJhzNz6ijhw4gWZ33Q9ueuP8MNIgCOUsPOSHE/j+LHP5OPfA==
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"ticker","id":"btc_usd","attributes":{"price":6615.0}}]}'
  recorded_at: Mon, 08 Oct 2018 14:35:05 GMT
recorded_with: VCR 4.0.0
