---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/buying_bots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8206991d0054d826ff8edcd86a899f5f"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-02T20:13:27.930Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"2","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-02T20:16:08.730Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"3","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-02T20:18:56.016Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}]}'
  recorded_at: Fri, 02 Nov 2018 19:55:08 GMT
recorded_with: VCR 4.0.0
