---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/phone_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"phone_seeds","attributes":{"type":"phone_seeds","country":"AR","number":"1234567890","phone_kind_code":"main","has_telegram":true,"has_whatsapp":false,"note":"It´s a figure of speech, Morty! They´re bureaucrats! I don´t respect them. Just keep shooting, Morty! You have no idea what prison is like here!"}}}'
    headers:
      Authorization:
      - cf35ed969e27d8434e865f673f9882c274370cff823a04b6b2acfc9e022fbb13882dd9a86f367a9b
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7a8119a9e25bff20fe5f729ad8f0d625"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"phone_seeds","attributes":{"number":"1234567890","phone_kind_code":"main","country":"AR","has_whatsapp":false,"has_telegram":true,"note":"It´s a figure of speech, Morty! They´re bureaucrats! I don´t respect them. Just keep shooting, Morty! You have no idea what prison is like here!","created_at":"2018-11-12T15:06:48.000Z","updated_at":"2018-11-12T15:06:48.000Z"},"relationships":{"issue":{"data":{"id":"3","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 12 Nov 2018 15:06:48 GMT
recorded_with: VCR 4.0.0
