---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/movements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"202831bfda3483209a8750c1860c3c37"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"28Sell","type":"movements","attributes":{"timestamp":1540483878,"currencies_involved":"BTC_USD","currency":"BTC","amount":1.99661354,"fee":0.250575,"fee_decimals":2,"fee_currency":"USD","price":50.2,"price_decimals":2,"kind":"Sell"}},{"id":"28Buy","type":"movements","attributes":{"timestamp":1540483878,"currencies_involved":"BTC_USD","currency":"BTC","amount":1.99162201,"fee":0.00499153,"fee_decimals":8,"fee_currency":"BTC","price":50.2,"price_decimals":2,"kind":"Buy"}},{"id":"27Sell","type":"movements","attributes":{"timestamp":1540483736,"currencies_involved":"BTC_USD","currency":"BTC","amount":1.99661354,"fee":0.250575,"fee_decimals":2,"fee_currency":"USD","price":50.2,"price_decimals":2,"kind":"Sell"}},{"id":"27Buy","type":"movements","attributes":{"timestamp":1540483736,"currencies_involved":"BTC_USD","currency":"BTC","amount":1.99162201,"fee":0.00499153,"fee_decimals":8,"fee_currency":"BTC","price":50.2,"price_decimals":2,"kind":"Buy"}}]}'
  recorded_at: Thu, 25 Oct 2018 18:36:09 GMT
recorded_with: VCR 4.0.0
