---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/chile_invoicing_detail_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"chile_invoicing_detail_seeds","attributes":{"type":"chile_invoicing_detail_seeds","ciudad":"Santiago","comuna":"Chile","giro":"2332","tax_id":"12053214-6","vat_status_code":"consumidor_final"}}}'
    headers:
      Authorization:
      - cf35ed969e27d8434e865f673f9882c274370cff823a04b6b2acfc9e022fbb13882dd9a86f367a9b
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d020089b5615400dd7f793ee400186cc"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"chile_invoicing_detail_seeds","attributes":{"vat_status_code":"consumidor_final","tax_id":"12053214-6","giro":"2332","ciudad":"Santiago","comuna":"Chile","created_at":"2018-11-12T14:43:25.000Z","updated_at":"2018-11-12T14:43:25.000Z"},"relationships":{"issue":{"data":{"id":"3","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 12 Nov 2018 14:43:25 GMT
recorded_with: VCR 4.0.0
