---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/chile_invoicing_detail_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"chile_invoicing_detail_seeds","attributes":{"type":"chile_invoicing_detail_seeds","ciudad":"Santiago","comuna":"Chile","giro":"2332","tax_id":"12053214-6","vat_status_code":"consumidor_final"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Mon, 12 Nov 2018 14:43:16 GMT
recorded_with: VCR 4.0.0
