---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/buying_bots/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3f50fa08ef9001dd4e118453dae70031"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-02T20:13:27.930Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Fri, 02 Nov 2018 20:25:11 GMT
recorded_with: VCR 4.0.0
