---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/cash_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"cash_withdrawals","relationships":{"withdrawal_instruction":{"data":{"type":"withdrawal_instructions","id":12}}},"attributes":{"type":"cash_withdrawals","amount":1000,"fiat":"ars"}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Version:
      - '2.0'
      One-Time-Password:
      - '111111'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"271ce4bc5bc6f76cd1d6703f58d7de22"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"cash_withdrawals","attributes":{"status":"received","amount":1000.0,"gross_amount":1000.0,"cost":0.0,"fee":0.0,"net_amount":1000.0,"country":"AR","payment_method":"domestic_bank","currency":"ARS","label":"label","created_at":"2018-11-05T19:42:02.268Z"},"relationships":{"withdrawal_instruction":{"data":{"id":"12","type":"withdrawal_instructions"}}}},"included":[{"id":"12","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","cuit":"20112233344552","city":"Dimension
        C-132","country":"AR","currency":"ARS","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}}]}'
  recorded_at: Mon, 05 Nov 2018 19:42:03 GMT
recorded_with: VCR 4.0.0
