---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/cash_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"cash_withdrawals","relationships":{"withdrawal_instruction":{"data":{"type":"withdrawal_instructions","id":99}}},"attributes":{"type":"cash_withdrawals","amount":1000,"fiat":"ars"}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Version:
      - '2.0'
      One-Time-Password:
      - '111111'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":null,"detail":null}]}'
  recorded_at: Mon, 05 Nov 2018 20:02:48 GMT
recorded_with: VCR 4.0.0
