---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/cash_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"cash_withdrawals","attributes":{"type":"cash_withdrawals","amount":"we_dont_care","fiat":"we_dont_care"}}}'
    headers:
      Authorization:
      - we_dont_care
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Wed, 31 Oct 2018 20:10:18 GMT
recorded_with: VCR 4.0.0
