---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/cash_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"cash_withdrawals","relationships":{"withdrawal_instruction":{"data":{"type":"withdrawal_instructions","id":12}}},"attributes":{"type":"cash_withdrawals","amount":1000,"fiat":"ars"}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      One-Time-Password:
      - '111111'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Mon, 05 Nov 2018 20:20:49 GMT
recorded_with: VCR 4.0.0
