---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/users/me/asset_wallets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"de454e22bd6cf81ed945090464e78a24"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"asset_wallets","attributes":{"balance":318.60571758,"available":318.60571758,"currency":"btc","address":"mnkzungYoJb8HMVSCmtQ5gmE9tksVqwdpf","auto_sell_address":"mz48gEvVRCNWn3B8yKs7SdnvraPJT3a2w7"},"relationships":{"app":{"data":{"id":"1","type":"exchange_apps"}}}},{"id":"6","type":"asset_wallets","attributes":{"balance":0.0,"available":0.0,"currency":"bch","address":"bchtest:qrd07tgtgz5mrljj4lrvxa0tgz5yh2lnzg0wpa0nqm","auto_sell_address":"bchtest:qz0wkcssj0vglasccnh87a284nqs6aq8wcx8wj542k"},"relationships":{"app":{"data":{"id":"1","type":"exchange_apps"}}}}],"included":[{"id":"1","type":"exchange_apps"}]}'
  recorded_at: Fri, 26 Oct 2018 18:28:17 GMT
recorded_with: VCR 4.0.0
