---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","relationships":{"orderbook":{"data":{"type":"orderbooks","id":1}}},"attributes":{"type":"buying_bots","amount":100}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3f50fa08ef9001dd4e118453dae70031"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-02T20:13:27.930Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Fri, 02 Nov 2018 19:43:31 GMT
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","relationships":{"orderbook":{"data":{"type":"orderbooks","id":20}}},"attributes":{"type":"buying_bots","amount":100}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":null,"detail":null}]}'
  recorded_at: Fri, 02 Nov 2018 19:44:14 GMT
[...]
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","attributes":{"type":"buying_bots","amount":100,"orderbook":"#<Bitex::JsonApi::Orderbook:0x007ff48dc1a140>"}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        {\n      background-color: #FAFAFA;\n      color: #333;\n      margin: 0px;\n
        \   }\n\n    body, p, ol, ul, td {\n      font-family: helvetica, verdana,
        arial, sans-serif;\n      font-size:   13px;\n      line-height: 18px;\n    }\n\n
        \   pre {\n      font-size: 11px;\n      white-space: pre-wrap;\n    }\n\n
        \   pre.box {\n      border: 1px solid #EEE;\n      padding: 10px;\n      margin:
        0px;\n      width: 958px;\n    }\n\n    header {\[...]
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","attributes":{"type":"buying_bots","amount":100,"orderbook_id":1}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":null,"detail":null}]}'
  recorded_at: Fri, 02 Nov 2018 19:48:46 GMT
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","relationships":{"orderbook":{"data":{"type":"orderbooks","id":1}}},"attributes":{"type":"buying_bots","amount":100}}}'
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4f68962a8db2b7936378007743cff7de"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-02T20:18:56.016Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Fri, 02 Nov 2018 19:48:56 GMT
recorded_with: VCR 4.0.0
