---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","relationships":{"orderbook":{"data":{"type":"orderbooks","id":1}}},"attributes":{"type":"buying_bots","amount":100}}}'
    headers:
      Authorization:
      - read_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not enough permissions"}'
  recorded_at: Fri, 02 Nov 2018 20:06:46 GMT
recorded_with: VCR 4.0.0
