---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/selling_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"selling_bots","relationships":{"orderbook":{"data":{"type":"orderbooks","id":"1"}}},"attributes":{"type":"selling_bots","amount":100}}}'
    headers:
      Authorization:
      - write_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ab67f03533390cf99e0070368a0025f8"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"selling_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-05T17:52:36.113Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Mon, 05 Nov 2018 17:22:36 GMT
recorded_with: VCR 4.0.0
