---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/selling_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"selling_bots","relationships":{"orderbook":{"data":{"type":"orderbooks","id":"1"}}},"attributes":{"type":"selling_bots","amount":100}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Mon, 05 Nov 2018 17:23:28 GMT
recorded_with: VCR 4.0.0
