---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/selling_bots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3ecf4d377504323b03c3e7e110baabb3"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"selling_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-11-05T17:52:36.113Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}]}'
  recorded_at: Mon, 05 Nov 2018 17:24:08 GMT
recorded_with: VCR 4.0.0
