---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/markets/btc_usd/asks/22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - b47007918b1530b09bb972661c6588216a35f08e4fd9392e5c7348e0e3e4ffbd8a47ae4d22277576
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4fca9813a9573cd98639aefb2a407e6a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"22","type":"asks","attributes":{"amount":100.23,"remaining_amount":100.23,"price":50.2,"status":"executing"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Thu, 18 Oct 2018 20:38:00 GMT
recorded_with: VCR 4.0.0
