---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd/bids/22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - write_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5b081801c54d1a00d1ed95a01eb1a230"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"22","type":"bids","attributes":{"amount":100.23,"remaining_amount":100.23,"price":50.2,"status":"cancelled"},"relationships":{"user":{"data":{"id":"1","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Tue, 23 Oct 2018 14:26:30 GMT
recorded_with: VCR 4.0.0
