---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"type":"api_keys","write":false}}}'
    headers:
      Authorization:
      - write_level_authorization
      Version:
      - '2.0'
      One-Time-Password:
      - '984176'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c19498f3b452debb80867c252e769375"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7","type":"api_keys","attributes":{"write":false,"token":"c789face946683b83ce3e18aa84cf642e4cfb116745a290f41435ba886824c33d734cba68c0dd709"}}}'
  recorded_at: Wed, 07 Nov 2018 19:54:35 GMT
recorded_with: VCR 4.0.0
