---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"type":"api_keys","write":true}}}'
    headers:
      Authorization:
      - we_dont_care
      Version:
      - '2.0'
      One-Time-Password:
      - '984176'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid Api Key"}'
  recorded_at: Wed, 07 Nov 2018 19:24:28 GMT
recorded_with: VCR 4.0.0
