---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/withdrawal_instructions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"082a355d4ce903e89aa25354f6002194"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"10","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"bco_chile","bank_account_number":"12345678","bank_address":"a
        bank address","bank_city":"a bank city","bank_country":"CL","bank_postal_code":"AABBCC","bank_swift":"BANKUS66","postal_code":"XXYYZZ","city":"Dimension
        C-132","country":"CL","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"international_bank","phone":"1122334455"}}}]}'
  recorded_at: Wed, 31 Oct 2018 17:15:58 GMT
- request:
    method: delete
    uri: https://dev.bitex.la:3000/api/withdrawal_instructions/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 17:16:09 GMT
recorded_with: VCR 4.0.0
