---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/withdrawal_instructions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"edfe0807e0b10b2351fcd3422103916c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"city":"Dimension
        C-132","further_instructions":"A further instructions","name":"Rick Sanchez","payment_method":"third_party","phone":"1122334455","currency":"ARS"}}},{"id":"7","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"bco_chile","bank_account_number":"12345678","bank_address":"a
        bank address","bank_city":"a bank city","bank_country":"CL","bank_postal_code":"AABBCC","bank_swift":"BANKUS66","postal_code":"XXYYZZ","city":"Dimension
        C-132","country":"CL","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"international_bank","phone":"1122334455"}}},{"id":"8","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"city":"Dimension
        C-132","country":"PY","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"third_party","phone":"1122334455"}}}]}'
  recorded_at: Tue, 30 Oct 2018 19:38:56 GMT
- request:
    method: delete
    uri: https://dev.bitex.la:3000/api/withdrawal_instructions/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 2648e33d822a4cc51ae4ef28efed716a1ad8c37700d6b33a4295618ba880ffcf9b57e457e6594a35
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":null,"detail":null}]}'
  recorded_at: Tue, 30 Oct 2018 19:39:20 GMT
recorded_with: VCR 4.0.0
